body {
    background: #e5e5e5;
    background-image: url("imgs/b1.jpg");
}

.r-form {
    background: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 11px 11px;
    margin-top: 44px;
    height: 470px;
    border-radius: 5px;
    border-bottom: 10px solid #7f8be0;


}

header {
    background:#7f8be0;
    width: 1000px;
    margin-left: -26px;
    height: 67px;
    margin-top: -12px;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
}

header h3 {
    font-weight: bolder;
    margin-top: 10px;
    text-align: center;
}

form {
    margin-top: 70px;
    text-align: right;
    margin-right:-50px;
}

label {
    text-transform: uppercase;
    font-weight: bolder;
    color: #7f8be0;
}

input[type="text"] {
    width: 280px;
    background: #ddd;
    border: none;
    margin-left: 160px;
}

input[type="email"] {
     width: 280px;
     background: #ddd;
    border:none;
    margin-left: 171px;
 }
input[type="phone"] {
    width: 280px;
    background: #ddd;
    border:none;
    margin-left: 160px;
}
input[type="password"] {
    width: 280px;
    background: #ddd;
    border:none;
    margin-left: 157px;
}
label.f-name {
    margin-left: -7px;
    color: #7f8be0;
}


label.email {
    margin-left: 40px;
    color: #7f8be0;
}

input[type="submit"] {
    width: 117px;
    height: 50px;
    text-align: center;

    margin-top: 8px;
    border: navajowhite;
    font-size: 20px;
    font-weight: bold;
    background: #7f8be0;
    color: #fff;
    margin-right: 42px;
}

a.link {
    width: 117px;
    height: 50px;
    text-align: center;
    margin-right: 163px;
    border: navajowhite;
    font-size: 20px;
    font-weight: bold;
    background: #7f8be0;
    color: #fff;
    margin-right: 0px;
    text-decoration: none;
    padding: 13px 25px;
}
a.linkk {
    width: 117px;
    height: 50px;
    text-align: center;
    margin-right: 163px;
    border: navajowhite;
    font-size: 20px;
    font-weight: bold;
    background: #7f8be0;
    color: #fff;
    margin-right: 0px;
    text-decoration: none;
    padding: 12px 25px;
}
input.l-submit {
    margin-right: 17px;
}